@{
    ViewData["Title"] = "Data";
}
<h1 class="display-4">Робота з даними</h1>
<p>
    Робота з даними - забезпечення їх повного життєвого циклу CRUD.
    Основна задача - збереження даних. Для цього існує декілька підходів.
</p>
<ul>
    <li>Оперативна пам'ять</li>
    <li>Файли</li>
    <li>Бази даних</li>
</ul>
<p>
    Збереження в оперативній пам'яті. "+" висока швидкість доступу.
    "-" енергозалежність, чутливість до перезапусків. Підходить для
    оперативних даних (постійно оброблюваних), актуальність яких може
    бути відновлена.
    Особливість (для програмування) - контролери утворюють свій час
    існування протягом оброблення запиту. Відповідно, для постійного
    збереження даних контролери не підходять.
</p>
<div class="row">
    <div class="col">
        <h3>RAM</h3>
        <div class="alert alert-secondary" role="alert">
            A simple secondary alert—check it out!
        </div>
        <div class="alert alert-secondary" role="alert">
            A simple secondary alert—check it out!
        </div>
    </div>
    <div class="col">
        <h3>File</h3>
    </div>
    <div class="col">
        <h3>DB</h3>
    </div>
</div>