@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Основи MS Azure</h1>
<p>
    Хмарні технології - модифікація мережних технологій для виконання
    задач, що є складними для одного мережного вузла (ПК).
</p>
<h2>Обліковий запис</h2>
<p>
    Для початку створюємо обліковий запис Microsoft, з ним 
    входимо до Azure.
    Загальний огляд ресурсів - 
        <a href="https://azure.microsoft.com/">посилання</a>
    Керування ресурсами - 
        <a href="https://portal.azure.com/">портал</a>
</p>
<p>
    Звертаємо увагу, що ресурси поділяються на три групи - платні,
    безкоштовні протягом якогось терміну (12 місяців) та завжди
    безкоштовні.
</p>
<p>
    Для поєднання сервісів створюються групи ресурсів, це дозволяє
    керувати ними разом. Для спостереження за використанням 
    ресурсів є засоби моніторингу. Подаються у вигляді графіків.
</p>
Д.З. Створити обліковий запис Azure
Створити ресурс Web App
Підключити до ресурсу Visual Studio
Зробити публікацію ASP проєкту
Прикласти посилання на створений сайт